<% title "Editing #{@bookmarklet.name}" %>

<h1>Editing bookmarklet</h1>

<% form_for(@bookmarklet) do |f| %>
  <%= f.error_messages %>

  <div id="info">
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :password, 'Password (optional, but required to edit)' %><br />
      <%= f.text_field :password %>
    </p>
  </div>

  <div id="code-and-description">
    <p>
      <%= f.label :code %><br />
      <%= f.text_area :code %>
    </p>

    <p>
      <%= f.label :description, 'Description (optional)' %><br />
      <%= f.text_area :description %>
    </p>
  </div>

  <div id="inject-label">
    <%= f.check_box :jquery, :onchange => '$("jquery-warning").toggle()' %>
    <%= f.label :jquery, 'Inject jQuery <span>Allows you to use jQuery in your bookmarklet, even if it is not loaded on the page.', :id => 'inject-label' %>
    <p id="jquery-warning" style="display:<%= @bookmarklet.jquery? ? 'block' : 'none' %>;">
      jQuery will automatically be set to <code>noConflict</code> mode,
      meaning any references to <code>$</code> must be replaced by
      <code>jQuery</code>.
    </p>
  </div>

  <div id="private-label">
    <%= f.check_box :private, :onchange => '$("private-warning").toggle()' %>
    <%= f.label :private, 'Keep Private <span>Do not show on home page</span>', :id => 'inject-label' %>
    <p id="private-warning" style="display:<%= @bookmarklet.private? ? 'block' : 'none' %>;">
      Private bookmarklets do not appear on the home page. If you make
      your bookmarklet private, make sure you bookmark it. Heh.
    </p>
  </div>

  <p class="last">
    <%= f.submit 'Save Bookmarklet', :disable_with => "Saving Bookmarklet..." %>
     or <%= link_to 'Back', @bookmarklet %> 
     or <%= link_to 'Delete', @bookmarklet, :method => :delete, :confirm => "Click OK to delete this bookmarklet forever." %>
  </p>
<% end %>
