<% title "Editing #{@bookmarklet.name}" %>

<h1>Editing bookmarklet</h1>

<% form_for(@bookmarklet) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :password, 'Password (optional, but required to edit)' %><br />
    <%= f.text_field :password %>
  </p>
  
  <p>
    <%= f.label :code %><br />
    <%= f.text_area :code %>
  </p>
  
  <p>
    <%= f.label :description, 'Description (optional)' %><br />
    <%= f.text_area :description %>
  </p>
  
  <p>
    <%= f.submit 'Update Bookmarklet' %>
  </p>
<% end %>

<%= link_to 'Show', @bookmarklet %> |
<%= link_to 'Back', bookmarklets_path %>