<% title "Add a bookmarklet" %>

<h1>New bookmarklet</h1>

<% form_for(@bookmarklet) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :password, 'Password (optional, but required to edit)' %><br />
    <%= f.text_field :password %>
  </p>

  <p>
    <%= f.label :code %><br />
    <%= f.text_area :code %>
  </p>

  <p>
    <%= f.label :description, 'Description (optional)' %><br />
    <%= f.text_area :description %>
  </p>

  <p style="display: inline-block; margin-right: 550px; margin-top: 0">
    <%= f.check_box :jquery %>
    <%= f.label :jquery, 'Inject jQuery' %>
  </p>

  <p style="display: inline-block">
    <%= f.submit 'Create Bookmarklet' %>
  </p>

  <p class="required">
    <%= f.label :body, "body" %>
    <%= f.text_area :body %>
  </p>

  <script type="text/javascript" charset="utf-8">
    document.observe('dom:loaded', function() {
      $$('p.required').invoke('hide'); // spam protection
    });
  </script>
<% end %>

<%= link_to 'Back', bookmarklets_path %>
