<% title "Add a bookmarklet" %>

<h1>New bookmarklet</h1>

<% form_for(@bookmarklet) do |f| %>
  <%= f.error_messages %>

  <div id="info">
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :password, 'Password (optional, but required to edit)' %><br />
      <%= f.text_field :password %>
    </p>
  </div>

  <div id="code-and-description">
    <p>
      <%= f.label :code %><br />
      <%= f.text_area :code %>
    </p>

    <p>
      <%= f.label :description, 'Description (optional)' %><br />
      <%= f.text_area :description %>
    </p>
  </div>

  <div id="inject-label">
    <%= f.check_box :jquery, :onchange => '$("jquery-warning").toggle()' %>
    <%= f.label :jquery, 'Inject jQuery <span>Allows you to use jQuery in your bookmarklet, even if it is not loaded on the page.', :id => 'inject-label' %>
    <p id="jquery-warning" style="display:none;">
      jQuery will automatically be set to <code>noConflict</code> mode,
      meaning any references to <code>$</code> must be replaced by
      <code>jQuery</code>.
    </p>
  </div>

  <div id="private-label">
    <%= f.check_box :private, :onchange => '$("private-warning").toggle()' %>
    <%= f.label :private, 'Keep Private <span>Do not show on home page</span>', :id => 'inject-label' %>
    <p id="private-warning" style="display:none;">
      Private bookmarklets do not appear on the home page. If you make
      your bookmarklet private, make sure you bookmark it. Heh.
    </p>
  </div>

  <p class="last">
    <%= f.submit 'Create Bookmarklet', :disable_with => "Creating Bookmarklet..." %> or <%= link_to 'Back', bookmarklets_path %>
  </p>

  <p class="required">
    <%= f.label :body, "body" %>
    <%= f.text_area :body %>
  </p>

  <script type="text/javascript" charset="utf-8">
    document.observe('dom:loaded', function() {
      $$('p.required').invoke('hide'); // spam protection
    });
  </script>
<% end %>
