<% title @bookmarklet.name %>

Drag this to your Bookmarks Bar:
<strong>
  <a href="javascript:var%20d=document,z=d.createElement('scr'+'ipt'),b=d.body;try{if(!b)throw(0);z.setAttribute('src','<%= request.protocol + request.host + url_for(@bookmarklet) + '.js' %>');b.appendChild(z);}catch(e){alert('Please%20wait%20until%20the%20page%20has%20loaded.');}void(0)"><%= @bookmarklet.name %></a>
</strong>

<br>

<blockquote>
<%= h(@bookmarklet.description) %>
</blockquote>

<% link_to '#', :onclick => 'toggleTheCodes(); return false;' do %>
  View Source
  <% if @bookmarklet.jquery? %>
    <small id="uses-jquery">Includes jQuery</small>
  <% end %>
<% end %>

<div id="source" style="display:none;">
  <pre><%= @bookmarklet.highlighted_code %></pre>
  <%= link_to_function 'Hide', 'hideTheCodes(); return false;' %>
</div>

<%- if @bookmarklet.password? -%>
  <p><%= link_to 'Click Here to Edit', edit_bookmarklet_path(@bookmarklet) %></p>
<%- end -%>

<p>
  <a href="/">Click here to go home.</a>
</p>
